header{
    position:sticky;
    z-index: 99;
    
}
#headerDIV{
    position: fixed;
    width: 100%;
    /* display: block; */
}

#mainDIV{
    background-image: url(./images/JayHindDoston1.jpeg);
    background-repeat: no-repeat;
    height: 700px;

}
#secDIV{
    height: calc(100%-40px)
}
#card{
    /* height: fit-content;
    width: fit-content; */
}
#thirdDiv{
    height: 530px;
    height: calc(100vh - 40px);
}


#cards{
    /* height: fit-content;
    width: fit-content; */
}
#circule{
    height: 40px;
    width: 40px;
    border: 1px solid #000;
    border-radius: 20px;
    color: white; 
}


